@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lato:ital,wght@1,700;1,900&family=Readex+Pro:wght@300;400&display=swap');

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;;
}
.main {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF;
}
/* Inicio de header */

@import "header.scss";

/* Fin del header */

/* Inicio index */

@import "index.scss";

/* Fin del index */

/* Footer */
 @import "footer.scss";
/* Fin del footer */

/* Shop */
  @import "shop.scss";
/* Fin shop */

/* Productos */
@import "productos.scss";
/* Fin de productos */

/* Contacto formulario */
  @import "contactform.scss";
/* Fin de contacto */

/* Articulos de compra */
@import "articles.scss";
/* Fin de articulos de compra */

/* Acerca de nosotros */
@import "about.scss";
/*  */

/* Medias Queries */
@media screen and (min-width: 768px) {

  header .header__burguerMenu {
    display: none;
  }

  header .header__menu .header__closeMenu {
    display: none;
  }

  header .header__menu {
    display: initial;
    position: inherit;
  }

  header .header__menu ul {
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
  }

  header #header__menu--itemGallery {
    position: relative;
  }

  header #header__menu--itemGallery:hover > ul {
    display: flex;
  }

  
  header #header__menu--itemGallery ul {
   display: none;
   position: absolute;
   left: 0;
   padding: 20px;
   height: 7rem;
   background-color: rgb(250, 250, 250);
   border-radius: 5px;
  }

}
@media screen and (max-width: 660px){
 header .header__menu ul{
     
     justify-content: flex-start;
     align-items: flex-start;
     margin-left: 60px;
     margin-top: 60px;
     list-style: none;

 } 
 header #header__menu--itemGallery ul{
  position: relative;
  line-height: 10px;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  list-style: circle;
}
header #header__menu--itemGallery ul li{
  color: #7C3AED;
}
header .header__menu .header__closeMenu {
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 4px;
  margin-top: 10px;
}
}
@media screen and (min-width: 320px){
  .hero-text {
      margin-bottom: 42px;
  }
  .hero-text h1{
      margin-bottom: 10px;
      
  }
  .lista-sucursales{
    img{
        width: 100%;
    }
}
}
@media screen and (max-width: 660px){
  .hero-img img{
      width: 35%;
      margin-right: 330px;
      top: 20px;
  }
  .hero-cart span{
  position: absolute;
  width: 100%;
  height: 98px;
  left: 0px;
  top: 390px;
  font-size: 25px;
  line-height: 40px;
  color: #9CA3AF;
  text-align: center;
  justify-content: center;
  padding: 20px;

  }
  .hero-cart h5{
      display: none;
  }
  .hero-cart button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 162px;
  height: 56px;
  left: 5px;
  top: 1064px;
  }
  .hero-cart button{
      display: none;
  }
}
@media screen and (max-width: 660px){
  .home-cards {
      display: grid;
      grid-template-columns: repeat(1,100%);
      gap: 20px;
  }
  .home-cards span{
    font-size: 20px;
  }
  .ver-mas1{
    cursor: pointer;
    top: 2000px;
    display: block;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .lista-sucursales{
    img{
        width: 100%;
    }
  }

}

@media screen and (max-width: 660px){
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .footer-shop{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 500px;
  }
}
/* mq de shop */
@media screen and (max-width: 660px){
  .shop-cards {
      display: grid;
      grid-template-columns: repeat(1,100%);
  }
  .shop-cards2{
      display: grid;
      grid-template-columns: repeat(1,100%);
  }
  .shop-cards2 h5{
      display: none;
      margin-bottom: 200px;
  }
  .shop-cards h5{
      display: none;
      margin-bottom: 200px;
  }
}

/* Productos */
@media screen and (max-width: 660px){
  .banners-prod{
    margin-bottom: 0%;
  }
  .banner-1{
      display: none;
  }
  .banner-2{
      display: none;
  }
  .banner-3{
      display: flex;
  }
  .banner-3 img{
    margin-top: 150px;  
    width: 100%;
  }
  .banner-3 img:hover{
  transform: translateY(-5px);
  box-shadow: 10px 10px 0px #4C1D95;
 }
 .banner-4{
     display: flex;
 }
 .banner-4 img{
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 300px;   
  width: 100%;
 }
 .banner-4 img:hover{
  transform: translateY(-5px);
  box-shadow: 10px 10px 0px #4C1D95; 
 }
  .banner-sale2{
    display: flex;
    img {
      margin-top: 1000px;
      padding: 0;
    }
  }
  
}

/* contact */
@media screen and (min-width: 320px){
  .contact__form{
    input{
      border: none;
      border-radius: 12px;
      background-color: white;
    }
    textarea{
      border: none;
      border-radius: 12px;
      background-color: white;
    }
  }
}