@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lato:ital,wght@1,700;1,900&family=Readex+Pro:wght@300;400&display=swap');

*body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;;
}
.main {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF;
}
/* Inicio de header */

@import "header.scss";

/* Fin del header */

/* Inicio index */

@import "index.scss";

/* Fin del index */

/* Footer */
 @import "footer.scss";
/* Fin del footer */

/* Medias Queries */
@media screen and (min-width: 768px) {

  header .header__burguerMenu {
    display: none;
  }

  header .header__menu .header__closeMenu {
    display: none;
  }

  header .header__menu {
    display: initial;
    position: inherit;
  }

  header .header__menu ul {
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
  }

  header #header__menu--itemGallery {
    position: relative;
  }

  header #header__menu--itemGallery:hover > ul {
    display: flex;
  }

  
  header #header__menu--itemGallery ul {
   display: none;
   position: absolute;
   left: 0;
   padding: 20px;
   height: 7rem;
   background-color: rgb(250, 250, 250);
   border-radius: 5px;
  }

}
@media screen and (max-width: 660px){
 header .header__menu ul{
     
     justify-content: flex-start;
     align-items: flex-start;
     margin-left: 60px;
     margin-top: 60px;
     list-style: none;

 } 
 header #header__menu--itemGallery ul{
  position: relative;
  line-height: 10px;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  list-style: circle;
}
header #header__menu--itemGallery ul li{
  color: #7C3AED;
}
header .header__menu .header__closeMenu {
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 400px;
}
}
@media screen and (min-width: 320px){
  .hero-text {
      margin-bottom: 42px;
  }
  .hero-text h1{
      margin-bottom: 10px;
  }
}
@media screen and (max-width: 660px){
  .hero-img img{
      width: 35%;
      margin-right: 330px;
      top: 20px;
  }
  .hero-cart span{
  position: absolute;
  width: 75%;
  height: 98px;
  left: 0px;
  top: 900px;
  font-size: 35px;
  line-height: 40px;
  }
  .hero-cart h5{
      display: none;
  }
  .hero-cart button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 162px;
  height: 56px;
  left: 5px;
  top: 1064px;
  }
  .hero-cart button{
      display: none;
  }
}
@media screen and (max-width: 660px){
  .home-cards {
      display: grid;
      grid-template-columns: repeat(1,100%);
  }
  .ver-mas1 a {
      top: 2700px;
      left: 125px;
  }

}
@media screen and (max-width: 660px){
  footer{
      top: 2900px;
  }
}