@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lato:ital,wght@1,700;1,900&family=Readex+Pro:wght@300;400&display=swap");
*body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; }

.main {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF; }

/* Inicio de header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  z-index: 999; }
  header .header__logo {
    height: 7rem;
    width: 7rem;
    justify-content: center;
    align-items: center; }
    header .header__logo img {
      width: 100%;
      margin-top: -1px; }
  header .header__burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    border: none;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in; }
  header input#menu {
    display: none; }
  header button.header__burguerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  header input#menu:checked ~ .header__menu {
    display: block; }
  header .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; }
    header .header__menu .header__closeMenu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem; }
    header .header__menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      header .header__menu ul li {
        font-weight: 600;
        border-radius: 5px;
        padding: 0.5rem; }
        header .header__menu ul li a {
          text-decoration: none;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #111827; }
        header .header__menu ul li a:hover {
          transform: translateY(-5px);
          box-shadow: 0px 10px 0px #C4B5FD; }
  header #header__menu--itemGallery ul {
    flex-direction: column;
    border-radius: 5px;
    list-style: none; }
  header #header__menu--itemGallery ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
    text-decoration: none; }

/* Fin del header */
/* Inicio index */
.hero-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: 38px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #111827;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off; }

.hero-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  color: #9CA3AF; }

.hero-img {
  float: right; }
  .hero-img a img {
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 715px; }

.hero-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 48px 0px 0px; }
  .hero-cart span {
    display: flex;
    position: absolute;
    left: 82px;
    top: 500px;
    width: 648px;
    height: 144px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    color: #111827; }
  .hero-cart h5 {
    position: absolute;
    left: 82px;
    top: 650px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151; }
  .hero-cart button {
    position: absolute;
    left: 82px;
    top: 700px;
    width: 152px;
    height: 46px;
    background: #C4B5FD;
    border-radius: 8px; }
    .hero-cart button a {
      text-decoration: none;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      color: #FFFFFF; }
  .hero-cart .btn-1:hover {
    border: 2px solid #ff96ad;
    color: #ff96ad;
    background-color: #FDD9D9;
    transform: translateY(-5px); }

/* Cards */
.home-cards {
  width: 95%;
  margin: 9rem auto;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }
  .home-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .home-cards img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #C4B5FD; }
  .home-cards span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 45px; }
  .home-cards h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 45px; }

.ver-mas1 a {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  top: 2040px;
  font-size: 60px;
  text-decoration: none;
  color: #111827; }

.ver-mas1 a:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 0px #C4B5FD; }

/* Fin del index */
/* Footer */
footer {
  width: 100%;
  height: 120px;
  position: absolute;
  display: block;
  top: 2500px;
  left: -0.02%;
  background-color: #000;
  margin-left: 0; }
  footer div {
    margin-right: 0;
    justify-content: flex-start;
    margin-left: 33px;
    margin-top: 15px; }
    footer div h4 {
      color: #F3F4F6;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      justify-content: center; }
  footer .social-media a {
    margin-right: 0;
    color: #F3F4F6;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none; }

/* Fin del footer */
/* Medias Queries */
@media screen and (min-width: 768px) {
  header .header__burguerMenu {
    display: none; }
  header .header__menu .header__closeMenu {
    display: none; }
  header .header__menu {
    display: initial;
    position: inherit; }
  header .header__menu ul {
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; }
  header #header__menu--itemGallery {
    position: relative; }
  header #header__menu--itemGallery:hover > ul {
    display: flex; }
  header #header__menu--itemGallery ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 20px;
    height: 7rem;
    background-color: #fafafa;
    border-radius: 5px; } }

@media screen and (max-width: 660px) {
  header .header__menu ul {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 60px;
    list-style: none; }
  header #header__menu--itemGallery ul {
    position: relative;
    line-height: 10px;
    justify-content: center;
    bottom: 50px;
    right: 50px;
    list-style: circle; }
  header #header__menu--itemGallery ul li {
    color: #7C3AED; }
  header .header__menu .header__closeMenu {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 400px; } }

@media screen and (min-width: 320px) {
  .hero-text {
    margin-bottom: 42px; }
  .hero-text h1 {
    margin-bottom: 10px; } }

@media screen and (max-width: 660px) {
  .hero-img img {
    width: 35%;
    margin-right: 330px;
    top: 20px; }
  .hero-cart span {
    position: absolute;
    width: 75%;
    height: 98px;
    left: 0px;
    top: 900px;
    font-size: 35px;
    line-height: 40px; }
  .hero-cart h5 {
    display: none; }
  .hero-cart button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 162px;
    height: 56px;
    left: 5px;
    top: 1064px; }
  .hero-cart button {
    display: none; } }

@media screen and (max-width: 660px) {
  .home-cards {
    display: grid;
    grid-template-columns: repeat(1, 100%); }
  .ver-mas1 a {
    top: 2700px;
    left: 125px; } }

@media screen and (max-width: 660px) {
  footer {
    top: 2900px; } }
