@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Lato:ital,wght@1,700;1,900&family=Readex+Pro:wght@300;400&display=swap");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; }

.main {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFFF; }

/* Inicio de header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  z-index: 999; }
  header .header__logo {
    height: 7rem;
    width: 7rem;
    justify-content: center;
    align-items: center; }
    header .header__logo img {
      width: 100%;
      margin-top: -1px; }
  header .header__burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    border: none;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in; }
  header input#menu {
    display: none; }
  header button.header__burguerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  header input#menu:checked ~ .header__menu {
    display: block; }
  header .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; }
    header .header__menu .header__closeMenu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem; }
    header .header__menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      header .header__menu ul li {
        font-weight: 600;
        border-radius: 5px;
        padding: 0.5rem; }
        header .header__menu ul li a {
          text-decoration: none;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #111827; }
        header .header__menu ul li a:hover {
          transform: translateY(-5px);
          box-shadow: 0px 10px 0px #C4B5FD; }
  header #header__menu--itemGallery ul {
    flex-direction: column;
    border-radius: 5px;
    list-style: none; }
  header #header__menu--itemGallery ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
    text-decoration: none; }

/* Fin del header */
/* Inicio index */
.hero-text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: 38px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #111827;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off; }

.hero-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  color: #9CA3AF; }

.hero-img {
  float: right; }
  .hero-img a img {
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 715px; }

.hero-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 48px 0px 0px; }
  .hero-cart span {
    display: flex;
    position: absolute;
    left: 82px;
    top: 500px;
    width: 648px;
    height: 144px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    color: #111827; }
  .hero-cart h5 {
    position: absolute;
    left: 82px;
    top: 650px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151; }
  .hero-cart button {
    position: absolute;
    left: 82px;
    top: 700px;
    width: 152px;
    height: 46px;
    background: #C4B5FD;
    border-radius: 8px; }
    .hero-cart button a {
      text-decoration: none;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      color: #FFFFFF; }
  .hero-cart .btn-1:hover {
    border: 2px solid #ff96ad;
    color: #ff96ad;
    background-color: #FDD9D9;
    transform: translateY(-5px); }

/* Cards */
.home-cards {
  width: 95%;
  margin: 9rem auto;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }
  .home-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .home-cards img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #C4B5FD; }
  .home-cards span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 45px; }
  .home-cards h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 45px; }

.ver-mas1 a {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  top: 2040px;
  font-size: 60px;
  text-decoration: none;
  color: #111827; }

.ver-mas1 a:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 0px #C4B5FD; }

/* Fin del index */
/* Footer */
footer {
  width: 100%;
  height: 120px;
  position: absolute;
  display: block;
  top: 2500px;
  left: -0.02%;
  background-color: #000;
  margin-left: 0; }
  footer div {
    margin-right: 0;
    justify-content: flex-start;
    margin-left: 33px;
    margin-top: 15px; }
    footer div h4 {
      color: #F3F4F6;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      justify-content: center; }
  footer .social-media a {
    margin-right: 0;
    color: #F3F4F6;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none; }

/* Fin del footer */
/* Shop */
/* Cartas de shop */
main {
  min-height: 100vh; }

.shop-cards {
  width: 95%;
  margin: 9rem auto;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }
  .shop-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .shop-cards img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #C4B5FD; }
  .shop-cards span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 45px; }
  .shop-cards h5 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 45px;
    top: 740px; }

.shop-cards2 {
  margin-top: 100px;
  width: 95%;
  margin: 9rem auto;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }
  .shop-cards2 img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .shop-cards2 img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #C4B5FD; }
  .shop-cards2 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 45px; }
  .shop-cards2 h5 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 45px;
    top: 1350px; }

.shop-banner1 img {
  width: 100%;
  padding: 20px;
  margin-bottom: 40px; }

/* Fin shop */
/* Productos */
/* inicio */
.banner-1 img {
  position: absolute;
  width: 1440px;
  height: 720px;
  left: 0px;
  top: 260px;
  padding: 40px; }

.banner-1 h2 {
  position: absolute;
  width: 334px;
  height: 90px;
  left: 1004px;
  top: 417px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 90px; }

.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 190px;
  height: 64px;
  left: 1064px;
  top: 580px;
  background: #C4B5FD;
  border-radius: 8px; }
  .btn-2 .btn-2:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #4C1D95; }
  .btn-2 a {
    position: static;
    width: 114px;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF; }

.banner-2 img {
  position: absolute;
  width: 1440px;
  height: 720px;
  left: 0px;
  top: 980px; }

.banner-2 h2 {
  position: absolute;
  width: 338px;
  height: 90px;
  left: 1004px;
  top: 1150px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 90px; }

.btn-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 190px;
  height: 64px;
  left: 1064px;
  top: 1302px;
  background: #C4B5FD;
  border-radius: 8px; }
  .btn-3 a {
    position: static;
    width: 114px;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF; }
  .btn-3 .btn-3:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #4C1D95; }

.banner-3 {
  display: none; }

.banner-4 {
  display: none; }

.banner-sale2 img {
  width: 100%;
  margin-top: 1700px;
  padding: 50px;
  cursor: pointer; }

/* Fin de productos */
/* Contacto formulario */
/* Inicio */
.contact__mainContainer {
  min-height: 50vh;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* GRID */
  display: grid;
  /* justify-content: center; */
  align-items: center; }
  .contact__mainContainer .contact__form {
    /* GRID */
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1rem; }
    .contact__mainContainer .contact__form h2 {
      text-align: center;
      margin-bottom: 1rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 60px; }
    .contact__mainContainer .contact__form input {
      height: 2.5rem;
      padding: 2rem;
      outline: none;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 28px;
      border: none;
      border-radius: 12px;
      background-color: #F3F4F6; }
    .contact__mainContainer .contact__form textarea {
      padding: 1rem;
      resize: none;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 28px;
      border: none;
      border-radius: 12px;
      background-color: #F3F4F6; }
    .contact__mainContainer .contact__form .contact__form--buttonsContainer {
      /* display: flex;
            justify-content: space-around; */
      /* GRID */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center; }
      .contact__mainContainer .contact__form .contact__form--buttonsContainer button {
        border: none;
        height: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-bottom: 1rem; }
      .contact__mainContainer .contact__form .contact__form--buttonsContainer button[type="submit"] {
        background-color: #FFFFFF;
        color: #7C3AED;
        transition: all .5s ease-in;
        font-size: 13px;
        justify-content: center;
        align-items: center; }
      .contact__mainContainer .contact__form .contact__form--buttonsContainer button[type="submit"]:hover {
        background-color: white;
        color: #464646;
        border: 1px solid #4b4b4b;
        cursor: pointer; }

.contact-socialmedia {
  margin-top: 100px; }
  .contact-socialmedia h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 72px;
    color: #111827; }
  .contact-socialmedia ul {
    list-style: none; }
    .contact-socialmedia ul li {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 72px;
      color: #111827; }

/* Fin de contacto */
/* Articulos de compra */
/* Articulos de compra inicio */
.banner-sale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.article-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 150px; }

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 0.4rem; }
  .article-box img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem; }
  .article-box img:hover {
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1); }
  .article-box h2 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 90px;
    color: #111827;
    width: 100%;
    top: 20px; }
  .article-box span {
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #9CA3AF;
    font-size: 14px;
    line-height: 45px;
    left: 200px;
    width: 100%;
    height: 1rem; }
  .article-box del {
    display: flex;
    justify-content: flex-start;
    color: #9CA3AF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 90px;
    width: 100%;
    height: 2rem;
    top: 20px; }
  .article-box h5 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 90px;
    width: 100%;
    height: 3rem; }
  .article-box h6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #9CA3AF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 16px;
    width: 100%;
    top: 20px;
    height: 1rem; }
  .article-box h3 {
    color: #269751;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 14px;
    font-size: 19px;
    line-height: 16px;
    width: 100%;
    top: 20px;
    height: 1rem; }

@media screen and (min-width: 320px) {
  .article-box h2 {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    margin-top: 40px; }
  .article-box h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 100%; }
  .article-box .envios-text {
    margin-left: 2rem; } }

@media screen and (max-width: 678px) {
  .article-content {
    display: grid;
    grid-template-columns: repeat(1, 100%); }
  .btn-4 .button {
    display: flex; }
  .article-box img {
    padding: 5rem;
    border-radius: 2rem; }
  .article-box h2 {
    font-size: 10px; }
  .article-box h5 {
    font-size: 26px; }
  .envios-text {
    margin-left: 13rem; }
  .cp-form {
    margin-left: 3rem; }
    .cp-form p {
      font-size: 5px;
      color: #7C3AED; }
    .cp-form .button-sbmit {
      margin-top: 20px; }
  .lista-sucursales img {
    width: 100%; }
  .lista-sucursales img {
    width: 10rem; } }

@media screen and (max-width: 1072px) {
  .article-box h2 {
    font-size: 30px; }
  .envios-text h4 {
    margin-left: 9rem; }
  .cp-form a {
    margin-left: 4rem; }
  .cp-form .calcularenvio {
    margin-left: 2rem; } }

/* Medios de pago */
.medios-pago {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; }
  .medios-pago a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }
  .medios-pago a:hover {
    transition: 0.5s all linear;
    color: blue; }

/* Boton de compra */
.medios-pago button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  padding: 15px;
  width: 152px;
  height: 46px;
  background: #C4B5FD;
  border-radius: 1rem; }

.medios-pago button:hover {
  transition: 0.5s all linear;
  background: #EDE9FE; }

.medios-pago a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #111827; }

.medios-pago i {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #111827; }

/* Envios */
.envios-text {
  margin-top: 70px;
  position: relative;
  display: flex;
  right: 205px;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }
  .envios-text h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px; }
  .envios-text i {
    font-size: 20px; }

.cp-form {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  right: 50px;
  border-radius: 20px; }
  .cp-form p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }
  .cp-form input {
    height: 2.5rem;
    right: 100px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 28px; }
  .cp-form button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px; }
  .cp-form .button-sbmit {
    background-color: #FFFFFF;
    color: #7C3AED;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 10px;
    height: 2rem;
    width: 5rem;
    transition: all .5s ease-in; }
  .cp-form a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }

.talles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

/* Fin articulos de compra */
/* Fin de articulos de compra */
/* Acerca de nosotros */
.lista-sucursales img {
  width: 2rem; }

.lista-sucursales h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  font-size: 35px; }

.lista-sucursales p {
  margin: .5rem; }

details {
  margin: .5rem;
  margin-top: 4rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px; }
  details p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin: .5rem;
    margin-top: 5; }

/*  */
/* Medias Queries */
@media screen and (min-width: 768px) {
  header .header__burguerMenu {
    display: none; }
  header .header__menu .header__closeMenu {
    display: none; }
  header .header__menu {
    display: initial;
    position: inherit; }
  header .header__menu ul {
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; }
  header #header__menu--itemGallery {
    position: relative; }
  header #header__menu--itemGallery:hover > ul {
    display: flex; }
  header #header__menu--itemGallery ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 20px;
    height: 7rem;
    background-color: #fafafa;
    border-radius: 5px; } }

@media screen and (max-width: 660px) {
  header .header__menu ul {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 60px;
    list-style: none; }
  header #header__menu--itemGallery ul {
    position: relative;
    line-height: 10px;
    justify-content: center;
    bottom: 50px;
    right: 50px;
    list-style: circle; }
  header #header__menu--itemGallery ul li {
    color: #7C3AED; }
  header .header__menu .header__closeMenu {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 4px;
    margin-top: 10px; } }

@media screen and (min-width: 320px) {
  .hero-text {
    margin-bottom: 42px; }
  .hero-text h1 {
    margin-bottom: 10px; }
  .lista-sucursales img {
    width: 100%; } }

@media screen and (max-width: 660px) {
  .hero-img img {
    width: 35%;
    margin-right: 330px;
    top: 20px; }
  .hero-cart span {
    position: absolute;
    width: 100%;
    height: 98px;
    left: 0px;
    top: 390px;
    font-size: 25px;
    line-height: 40px;
    color: #9CA3AF;
    text-align: center;
    justify-content: center;
    padding: 20px; }
  .hero-cart h5 {
    display: none; }
  .hero-cart button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 162px;
    height: 56px;
    left: 5px;
    top: 1064px; }
  .hero-cart button {
    display: none; } }

@media screen and (max-width: 660px) {
  .home-cards {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px; }
  .home-cards span {
    font-size: 20px; }
  .ver-mas1 {
    cursor: pointer;
    top: 2000px;
    display: block;
    justify-content: center;
    align-items: center;
    display: none; }
  .lista-sucursales img {
    width: 100%; } }

@media screen and (max-width: 660px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .footer-shop {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 500px; } }

/* mq de shop */
@media screen and (max-width: 660px) {
  .shop-cards {
    display: grid;
    grid-template-columns: repeat(1, 100%); }
  .shop-cards2 {
    display: grid;
    grid-template-columns: repeat(1, 100%); }
  .shop-cards2 h5 {
    display: none;
    margin-bottom: 200px; }
  .shop-cards h5 {
    display: none;
    margin-bottom: 200px; } }

/* Productos */
@media screen and (max-width: 660px) {
  .banners-prod {
    margin-bottom: 0%; }
  .banner-1 {
    display: none; }
  .banner-2 {
    display: none; }
  .banner-3 {
    display: flex; }
  .banner-3 img {
    margin-top: 150px;
    width: 100%; }
  .banner-3 img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #4C1D95; }
  .banner-4 {
    display: flex; }
  .banner-4 img {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 300px;
    width: 100%; }
  .banner-4 img:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 0px #4C1D95; }
  .banner-sale2 {
    display: flex; }
    .banner-sale2 img {
      margin-top: 1000px;
      padding: 0; } }

/* contact */
@media screen and (min-width: 320px) {
  .contact__form input {
    border: none;
    border-radius: 12px;
    background-color: white; }
  .contact__form textarea {
    border: none;
    border-radius: 12px;
    background-color: white; } }
